<div class="container">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="jumbotron">
			<h2>
				Edit User information
			</h2>
		</div>

		<p>All Fields with <span class="mandatory">( * )</span> Are Mandatory</p>
		<%- messages() %>

		<div class="form-group">
			<form action="/updateuser/<%= data.id %>" method="POST" enctype="multipart/form-data" >
				<div class="form">
					<div class="form-group">
						<label>Name <span class="mandatory">*</span></label>
						<input type="text" name="name" class="form-control" value="<%= data.fullname %>">
					</div>
					<div class="form-group">
						<label>Email <span class="mandatory">*</span></label>
						<input type="text" name="email" class="form-control" value="<%= data.email %>">
					</div>
					<div class="form-group">
						<label>Password <span class="mandatory">*</span></label>
						<input type="password" name="password" class="form-control" value="<%= data.password %>">
					</div>
					<div class="form-group">
						<label>Mobile Number</label>
						<input type="text" name="number" class="form-control" value="<%= data.mobilenumber %>">
					</div>
					<div class="form-group">
						<label>Profile Picture</label>
						<img src="/uploads/<%= data.profileimage %>" alt="User Profile Image" class="img-responsive">
						<input type="file" name="picture" class="form-control">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>

	</div>
</div>